*.h.gch
*~
.gitattributes
Cards.opensdf
Cards.sdf
Cards.sln
Cards/Cards.vcxproj
Cards/Cards.vcxproj.filters
Cards/Debug/Cards.tlog/CL.read.1.tlog
Cards/Debug/Cards.tlog/CL.write.1.tlog
Cards/Debug/Cards.tlog/Cards.lastbuildstate
Cards/Debug/Cards.tlog/cl.command.1.tlog
Cards/Debug/Cards.tlog/link.command.1.tlog
Cards/Debug/Cards.tlog/link.read.1.tlog
Cards/Debug/Cards.tlog/link.write.1.tlog
Cards/Debug/vc120.idb
Cards/Release/Cards.tlog/CL.read.1.tlog
Cards/Release/Cards.tlog/CL.write.1.tlog
Cards/Release/Cards.tlog/Cards.lastbuildstate
Cards/Release/Cards.tlog/cl.command.1.tlog
Cards/Release/Cards.tlog/link.command.1.tlog
Cards/Release/Cards.tlog/link.read.1.tlog
Cards/Release/Cards.tlog/link.write.1.tlog
