*.h.gch
*~
.gitattributes
Cards.opensdf
Cards.sdf
Cards.sln
Cards/Cards.vcxproj
Cards/Cards.vcxproj.filters
Cards/Debug/Cards.tlog/CL.read.1.tlog
Cards/Debug/Cards.tlog/CL.write.1.tlog
Cards/Debug/Cards.tlog/Cards.lastbuildstate
Cards/Debug/Cards.tlog/cl.command.1.tlog
Cards/Debug/Cards.tlog/link.command.1.tlog
Cards/Debug/Cards.tlog/link.read.1.tlog
Cards/Debug/Cards.tlog/link.write.1.tlog
Cards/Debug/vc120.idb
Cards/Release/Cards.tlog/CL.read.1.tlog
Cards/Release/Cards.tlog/CL.write.1.tlog
Cards/Release/Cards.tlog/Cards.lastbuildstate
Cards/Release/Cards.tlog/cl.command.1.tlog
Cards/Release/Cards.tlog/link.command.1.tlog
Cards/Release/Cards.tlog/link.read.1.tlog
Cards/Release/Cards.tlog/link.write.1.tlog
Cards.vcxproj
Cards.vcxproj.filters
Release/Cards.tlog/CL.read.1.tlog
Release/Cards.tlog/CL.write.1.tlog
Release/Cards.tlog/Cards.lastbuildstate
Release/Cards.tlog/cl.command.1.tlog
Release/Cards.tlog/link.command.1.tlog
Release/Cards.tlog/link.read.1.tlog
Release/Cards.tlog/link.write.1.tlog
Release/Cards.tlog/unsuccessfulbuild
CMakeLists.txt
a.out
.idea/*
Cards.v11.suo
Release/Ablagestapel.obj
Release/CL.read.1.tlog
Release/CL.write.1.tlog
Release/Cards.lastbuildstate
Release/Cards.log
Release/Cards.unsuccessfulbuild
Release/Karte.obj
Release/Kartenstapel.obj
Release/Spiel.obj
Release/Spieler.obj
Release/cl.command.1.tlog
Release/main.obj
Release/vc110.pdb
